@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

html {
  font-size: 62.5%;
}
body {
  background: #05d4f0;
  font-family: "Roboto Slab", sans-serif;
  padding-top: 2rem;
}

.wrapper {
  width: 40rem;
  max-width: 40rem;
  margin: 0 auto;
}

#credit-form {
  padding: 0 2.5rem 2.5rem;
  background: #EF81C0;
  box-shadow: 0.1rem 0.1rem 1rem 0.1rem rgba(0,0,0,0.7);
  -moz-box-shadow: 0.1rem 0.1rem 1rem 0.1rem rgba(0,0,0,0.7);
  -webkit-box-shadow: 0.1rem 0.1rem 1rem 0.1rem rgba(0,0,0,0.7);
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  display: table;
  position: static;
}

#credit-form .header {
  margin-bottom: 1.5rem;
}

#credit-form .header h3 {
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}


#credit-form .sep {
  height: 0.1rem;
  background: #e8e8e8;
  width: 43rem;
  margin: 0 -2.5rem;
}

#credit-form .inputs {
  margin-top: 2rem;
}

input::-webkit-input-placeholder {
  color: #b5b5b5;
}

input:-moz-placeholder {
  color: #b5b5b5;
}

#credit-form .inputs input[type=email], input[type=text] {
  background: #f5f5f5;
  font-size: 1.3rem;
  -moz-border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  border-radius: 0.3rem;
  border: none;
  padding: 0.8rem 1rem;
  width: 33rem;
  margin-bottom: 2rem;
  box-shadow: inset 0 0.2rem 0.3rem rgba( 0,0,0,0.1 );
  -moz-box-shadow: inset 0 0.2rem 0.3rem rgba( 0,0,0,0.1 );
  -webkit-box-shadow: inset 0 0.2rem 0.3rem rgba( 0,0,0,0.1 );
  clear: both;
}

#credit-form .inputs input[type=email]:focus, input[type=text]:focus {
  background: #fff;
  box-shadow: 0 0 0 0.3rem #fff38e, inset 0 0.2rem 0.3rem rgba( 0,0,0,0.2 ), 0 0.5rem 0.5rem rgba( 0,0,0,0.15 );
  -moz-box-shadow: 0 0 0 0.3rem #fff38e, inset 0 0.2rem 0.3rem rgba( 0,0,0,0.2 ), 0 0.5rem 0.5rem rgba( 0,0,0,0.15 );
  -webkit-box-shadow: 0 0 0 0.3rem #fff38e, inset 0 0.2rem 0.3rem rgba( 0,0,0,0.2 ), 0 0.5rem 0.5rem rgba( 0,0,0,0.15 );
  outline: none;
}

#credit-form .inputs #submit {
  width: 100%;
  margin-top: 2rem;
  padding: 1.5rem 0;
  color: #fff;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  text-align: center;
  text-decoration: none;
  background: #EC53AB;
  box-shadow: 0 0 0.3rem 0.1rem rgba(0,0,0,0.7);
  -moz-box-shadow: 0 0 0.3rem 0.1rem rgba(0,0,0,0.7);
  -webkit-box-shadow: 0 0 0.3rem 0.1rem rgba(0,0,0,0.7);
  border: none;
  border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  display: table;
  clear: both;
}

#credit-form .inputs #submit:hover {
  background: #EF81C0;
}

#card-number {
  width: 26rem;
  margin-right: 2.5rem;
}

#cvs {
  width: 2.6rem;"
}

fieldset  legend {
  color: #ffffff;
  font-size: 1.6rem;
  padding-bottom: 1rem;
}

.image-credit img {
  width: 21rem;
}

.dropdown {
  position: relative;
  width: 9rem;
  background: #f2f2f2;
  border: 0.1rem solid whitesmoke;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.08);
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.08);
  float: left;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.dropdown:before, .dropdown:after {
  content: '';
  position: absolute;
  top: 0.9rem;
  right: 1rem;
  width: 0;
  height: 0;
  border: 0.5rem solid;
  border-color: #888888 transparent;
}

.dropdown:before {
  border-bottom-style: solid;
  border-top: none;
}

.dropdown:after {
  margin-top: 0.7rem;
  border-top-style: solid;
  border-bottom: none;
}

.dropdown-select {
  width: 100%;
  margin: 0;
  padding: 0.6rem 0.8rem 0.6rem 1rem;
  height: 2.8rem;
  line-height: 1.6rem;
  font-size: 1.2rem;
  color: #747474;
  background: rgba(0, 0, 0, 0) !important;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.errorMessages{
  width  : 100%;
  padding: 0;

  font-size: 80%;
  color: #900;
  border-radius: 0 0 5px 5px;

  -moz-box-sizing: border-box;
  box-sizing: border-box;

}