@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

html {
  font-size: 62.5%;
}
body {
  background: #05d4f0;
  font-family: "Roboto Slab", sans-serif;
  padding-top: 2rem;
}

.wrapper {
  width: 40rem;
  max-width: 40rem;
  margin: 0 auto;
}

#question-form {
  padding: 0 2.5rem 2.5rem;
  background: #EF81C0;
  box-shadow: 0.1rem 0.1rem 1rem 0.1rem rgba(0,0,0,0.7);
  -moz-box-shadow: 0.1rem 0.1rem 1rem 0.1rem rgba(0,0,0,0.7);
  -webkit-box-shadow: 0.1rem 0.1rem 1rem 0.1rem rgba(0,0,0,0.7);
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  display: table;
  position: static;
}

#question-form .header {
  margin-bottom: 1.5rem;
}

#question-form .header h3 {
  text-align: center;
  color: #ffffff;
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}


#question-form .header .slogan {
  color: #057996;
  font-size: 1.6rem;
  font-style: italic;
  text-align: center;
}
#question-form .sep {
  height: 0.1rem;
  background: #e8e8e8;
  width: 40rem;
  margin: 0 -2.5rem;
}

#question-form .inputs {
  margin-top: 2rem;
}

input::-webkit-input-placeholder {
  color: #b5b5b5;
}

input:-moz-placeholder {
  color: #b5b5b5;
}

#question-form .inputs input[type=email], input[type=text], textarea {
  background: #f5f5f5;
  font-size: 1.1rem;
  -moz-border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  border-radius: 0.3rem;
  border: none;
  padding: 1.3rem 1rem;
  width: 33rem;
  margin-bottom: 2rem;
  box-shadow: inset 0 0.2rem 0.3rem rgba( 0,0,0,0.1 );
  -moz-box-shadow: inset 0 0.2rem 0.3rem rgba( 0,0,0,0.1 );
  -webkit-box-shadow: inset 0 0.2rem 0.3rem rgba( 0,0,0,0.1 );
}

#question-form .inputs input[type=email]:focus, input[type=text]:focus, input[type=datetime]:focus, textarea:focus {
  background: #fff;
  box-shadow: 0 0 0 0.3rem #fff38e, inset 0 0.2rem 0.3rem rgba( 0,0,0,0.2 ), 0 0.5rem 0.5rem rgba( 0,0,0,0.15 );
  -moz-box-shadow: 0 0 0 0.3rem #fff38e, inset 0 0.2rem 0.3rem rgba( 0,0,0,0.2 ), 0 0.5rem 0.5rem rgba( 0,0,0,0.15 );
  -webkit-box-shadow: 0 0 0 0.3rem #fff38e, inset 0 0.2rem 0.3rem rgba( 0,0,0,0.2 ), 0 0.5rem 0.5rem rgba( 0,0,0,0.15 );
  outline: none;
}

#question-form .inputs #submit {
  width: 100%;
  padding: 1.5rem 0;
  color: #fff;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  text-align: center;
  text-decoration: none;
  background: #EC53AB;
  box-shadow: 0 0 0.3rem 0.1rem rgba(0,0,0,0.7);
  -moz-box-shadow: 0 0 0.3rem 0.1rem rgba(0,0,0,0.7);
  -webkit-box-shadow: 0 0 0.3rem 0.1rem rgba(0,0,0,0.7);
  border: none;
  border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  display: table;
  clear: both;
}

#question-form .inputs #submit:hover {
  background: #EF81C0;
}

.fieldset > legend {
  color: #ffffff;
  font-size: 1.6rem;
}

.fieldset .radio label {
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  color: #057996;
}

.group-other {
  padding: 0.6rem 0;
}

.group-other label {
  color: #057996;
  font-size: 1.6rem;
}


.errorMessages{
  width  : 100%;
  padding: 0;

  font-size: 1rem;
  color: #900;
  border-radius: 0 0 5px 5px;

  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

